In [1]:
import numpy as np
import pandas as pd

In [2]:
# index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1  0.182079 -0.279052
   2  0.518249 -2.113703
   3 -0.414271  0.867856
G2 1 -1.570703 -0.255081
   2  1.005699 -0.476066
   3 -0.829485  1.180687

In [11]:
df.loc['G1']

          A         B
1  0.182079 -0.279052
2  0.518249 -2.113703
3 -0.414271  0.867856

In [12]:
df.loc['G2']

          A         B
1 -1.570703 -0.255081
2  1.005699 -0.476066
3 -0.829485  1.180687

In [15]:
df.index.names = ['Groups', 'Num']

In [16]:
df

                   A         B
Groups Num
G1     1    0.182079 -0.279052
       2    0.518249 -2.113703
       3   -0.414271  0.867856
G2     1   -1.570703 -0.255081
       2    1.005699 -0.476066
       3   -0.829485  1.180687

In [18]:
df.loc['G2'].loc[2]

A    1.005699
B   -0.476066
Name: 2, dtype: float64

In [19]:
df.loc['G2'].loc[2]['B']

-0.47606612257622516

In [20]:
df.xs('G1')

            A         B
Num
1    0.182079 -0.279052
2    0.518249 -2.113703
3   -0.414271  0.867856

In [22]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.182079 -0.279052
G2     -1.570703 -0.255081