#### Imbalanced Dataset
A dataset with unqual class distribution

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
credit_card_data_1 = pd.read_csv('G:\\ML & AI 99DaysWithCPC\\Data Collection and Pre-Processing\\credit_data.csv')

In [5]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

#### This is Highly imbalanced Dataset
0--> Legit Transections

1--> Fraudlent Transections

#### Separating the legit and fraudlent transactions

In [9]:
legit = credit_card_data[credit_card_data['Class'] == 0]
fraud = credit_card_data[credit_card_data['Class'] == 1]

In [10]:
legit.shape

(284315, 31)

In [11]:
fraud.shape

(492, 31)

#### Under-sampling method
Build a sample dataset containing similar distribution of legit and fraudlent Transections

In [12]:
legit_sample = legit.sample(n=492)

In [13]:
legit_sample.shape

(492, 31)

#### Now Concatenate the Two DataFrames

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
13254,23334.0,-0.780767,-0.279091,2.071932,-1.588773,-1.300608,1.367726,0.362222,-0.036128,0.702224,...,0.281490,1.394144,-0.192121,-0.296746,-0.490008,-0.298271,-0.102879,-0.193196,224.48,0
134531,80845.0,-0.239089,1.133107,1.364493,0.759415,0.549536,0.006876,0.828921,-0.455673,-0.211838,...,-0.266985,-0.299698,-0.037169,-0.302855,-0.811542,0.237907,-0.184767,-0.212855,1.29,0
242094,151336.0,-3.228497,3.387315,-3.025480,-0.705543,-0.972484,-1.081168,-0.792321,2.087093,0.389945,...,-0.343771,-1.006636,0.400635,0.484250,0.056309,0.159459,0.339923,0.207537,17.99,0
47145,43100.0,1.194482,0.635296,-0.336683,1.240134,0.095176,-0.930883,0.172124,-0.067267,-0.267952,...,-0.022464,-0.054643,-0.129805,0.181051,0.642926,-0.342865,0.027864,0.046127,1.00,0
42752,41231.0,-0.968023,0.283277,1.794911,0.757897,0.602348,-0.409926,0.743225,-0.135702,-0.793239,...,-0.128799,-0.355294,0.029580,0.334240,-0.610976,0.504614,-0.249345,-0.039478,60.08,0

In [18]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

### Now the Dataset is Balanced