In [1]:
import numpy as np

**Subtract**

In [2]:
revenue = np.array([[180, 200, 220], [24, 36, 40], [12, 18, 20]])

In [3]:
expenses = np.array([[80, 90, 100], [10, 16, 20], [8, 10, 10]])

In [4]:
profit = revenue - expenses

In [5]:
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

**Broadcasting**

In [6]:
units = np.array([[30, 40, 50], [5, 10, 15], [2, 5, 7]])

In [7]:
price = np.array([1000, 400, 1200])

In [8]:
sum_of_price = units*price

In [9]:
sum_of_price

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

**Dot Product**

In [10]:
units = np.array([[30, 40, 50], [5, 10, 15], [2, 5, 7]])

In [11]:
price = np.array([1000, 400, 1200])

In [14]:
sum = np.dot(price, units)

In [15]:
sum

array([34400, 50000, 64400])